<nav class="navbar navbar-dark mb-3" style="background-color : #287d74">
  <div class="container-fluid d-flex justify-content-center">
    <a class="navbar-brand fw-bold" href="#">
     <!-- <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> -->
     <i class="bi bi"></i>
      Test
    </a>
  </div>
</nav>