<div class="card shadow">
  <div class="card-body">
<div id="to"class="form-group mb-3">
  <h3> TO : RIFKI</h3>
  <p>Rifki tidak tahu siapa yang kirim pesan</p>
    <label class="d-flex justify-content-center mb-2 " for="exampleFormControlTextarea1">Send your secret message</label>
    <textarea class="form-control shadow-none" id="sendmsg" rows="3" placeholder="Write your secret message"></textarea>
  </div>
    <a href="#" class="btn d-flex text-white justify-content-center" style="background-color : #287d74">
      <i class="bi bi-send-fill"></i>
      Send</a>
  </div>
</div>
</div>

<div class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
      Pesan berhasil di kirim!
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>
</div>



<style>
#sendmsg:focus{
  border: 2px solid #498d78 !important;
}
  #sendmsg{
    background-color: #ddeeeb;
  }
  #to h3 {
    text-align: center;
  }
  #to p {
    text-align: center;
  }

  
  
</style>